#Images
sch_image.bmp
sch_image.png
images/3d_2.png
images/PCBs.odt
images/bottom2.png
images/bottom_layout.png
images/bottom_render.png
images/pcb_b.bmp
images/pcb_b.png
images/pcb_b2.bmp
images/pcb_t.bmp
images/pcb_t.png
images/pcb_t2.bmp
images/top2.png
images/top3.png
images/top_layout.png
images/top_render.png
ESC_2Layer.png
#Misc files
step/
.tmp.drivedownload/
bom/
*.zip
rescue-backup/
#Temporary files
*.bak
*.0000
*.bck
*.kicad_pcb-bak
*~
#Exported BOM files
*.xml
*.csv
